<mat-expansion-panel class="mb-4">
  <mat-expansion-panel-header>
    <mat-panel-title class="flex-center mb-5">
      <div class="mat-title-arrangement">
        <div>
          Author:
        </div>
        <div class="bold-font">{{authorName}}>
        </div>
      </div>
      <div class="mat-title-arrangement">
        <div>Date:</div>
        <div class="bold-font">{{date | date}}</div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <dl>
    <dt>Author Email:</dt>
    <dd class="mb-20">{{authorEmail}}</dd>
    <dt>Comment:</dt>
    <dd [innerHTML]="comment"></dd>
  </dl>
  <a [href]="url" target="_blank">View Commit</a>
</mat-expansion-panel>