<main *ngIf="!showSpinner">
  <section>
    <app-search-box [searchBoxCSS]="setFormCardHeightClass" [hint]="hint" (formValue)="formValue($event)"
      [matLabel]="matLabel" [matError]="matError"></app-search-box>
  </section>
  <div class="mb-20">
    <section class="commits-container" *ngIf="commitsResponse && !isRepositoriesOnScreen">
      <button (click)="backButtonClicked()" class="reset-button mb-20">
        <mat-icon class="link-button" aria-hidden="false" aria-label="Back button icon">arrow_back</mat-icon>
      </button>
      <!-- Commits Begin -->
      <mat-accordion>
        <ng-container *ngFor="let item of commitsResponse">
          <app-expansion-panel [url]="item?.html_url" [comment]="item?.commit?.message"
            [date]="item?.commit?.author?.date" [authorName]="item?.commit?.author?.name"
            [authorEmail]="item?.commit?.author?.email"></app-expansion-panel>
        </ng-container>
        <mat-divider></mat-divider>
      </mat-accordion>
      <!-- Commits End -->
    </section>
    <section>
      <div *ngIf="repoResponse && isRepositoriesOnScreen" class="repository-container">
        <ng-container *ngFor="let item of repoResponse">
          <app-card [title]="item?.name" [description]="item?.description" [avatar]="item?.owner?.avatar_url"
            [fullName]="item?.full_name" [buttonText]="buttonText" cardCSS="card-width" (commits)="getCommits($event)">
          </app-card>
        </ng-container>
      </div>
    </section>
  </div>
</main>
<app-spinner *ngIf="showSpinner"></app-spinner>