.commits-container {
  max-width: 48rem;
  margin: auto;
}

.repository-container {
  margin: 2.5rem;
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  place-items: center;
  max-width: 95vw;
}


@media (max-width: 768px) {
  .repository-container {
    display: flex;
    flex-direction: column;
    grid-gap: 2.5rem;
    margin-top: 0;
  }

  .commits-container {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

