<main *ngIf="!showSpinner">
  <section>
    <app-search-box [searchBoxCSS]="setFormCardHeightClass" (formValue)="formValue($event)" [matLabel]="matLabel"
      [matError]="matError"></app-search-box>
  </section>
  <section>
    <div class="parent-container">
      <div *ngIf="response" class="child-container">
        <ng-container *ngFor="let item of response">
          <app-card [title]="item?.name" [description]="item?.description" [avatar]="item?.owner?.avatar_url"
            [fullName]="item?.full_name" [buttonText]="buttonText" cardCSS="card-width"></app-card>
        </ng-container>
      </div>
    </div>
  </section>
</main>
<app-spinner *ngIf="showSpinner"></app-spinner>