<div [ngClass]="searchBoxCSS" class="search-container">
  <mat-card class="search-card">
    <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit(thresholdForm.value)">
      <mat-form-field>
        <mat-label>{{matLabel}}</mat-label>
        <input maxlength="30" formControlName="threshold" matInput>
        <mat-hint class="hint">{{hint}}</mat-hint>
        <mat-error *ngIf="!thresholdForm.controls['threshold'].valid && thresholdForm.controls['threshold'].touched">
          {{matError}}
        </mat-error>
      </mat-form-field>
      <div class="submit-button">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card>
</div>