@import "./app/styles/normalize";

.container {
  width: 80vh;
}

.warning {
  color: #FFCC00;
}

.dialog-container {
  max-width: '60vw' !important;
  max-height: '60vh' !important;
  height: '100%' !important;
  width: '100%' !important;
}

@media screen and (max-width: 767px) {
  .dialog-container {
    max-width: '100vw' !important;
    max-height: '100vh' !important;
    height: '100%' !important;
    width: '100%' !important;
  }
}

