@import "./app/styles/normalize";

body {
  font-size: 0.875rem;
  background-color: #d3d3d3;
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
}

.child-container {
  margin: 40px;
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  max-width: 120rem;
  place-items: center;
}

.warning {
  color: #FFCC00;
}

.card-width {
  max-width: 20rem;
}

.search-box-height {
  height: 100vh;
}

.reset-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

// Change height upon the form submission!
.search-box-submit-height {
  height: 40vh;
}

.submit-button {
  margin-top: 0.625rem;
}

article {
  font-size: 1rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-80 {
  margin-left: 5rem;
}

mat-card {
  box-shadow: 0.75rem 0.75rem 1rem 0 rgba(0, 0, 0, 0.25),
    -0.5rem -0.5rem 0.75rem 0 rgba(255, 255, 255, 0.3) !important;
  border-radius: 3.125rem !important;
}

mat-error {
  font-size: 0.875rem;
}

.mat-card-image {
  margin: unset !important;
  width: 100% !important;
}

.mat-card-actions {
  padding-bottom: 0.3125rem !important; // 5px
}

.mat-card-content, .mat-card-actions, .submit-button {
  text-align: center;
}

